.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: background 0.3s, color 0.3s;
}

.light {
  background: #fff;
  color: #000;

  .title {
    color: #000;
  }
}

.dark {
  background: #333;
  color: #fff;

  .title {
    color: #fff;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  transition: color 0.3s;
}

.sliderContainer {
  width: 100%;
  max-width: 1200px;
}